[Unit]
Description=CBT School VHD — Generate Pre-login Banner
Documentation=https://github.com/awmediadigitaldeveloper/cbt-school-enterprise
DefaultDependencies=no
Before=getty@tty1.service getty@tty2.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gen-cbt-banner.sh
RemainAfterExit=yes
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
